DAY_WEEK/services/dsService_0.1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="dsService"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.talend.org/service/"
		targetNamespace="http://www.talend.org/service/">

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://www.talend.org/service/">
			<xsd:element name="dsServiceOperationRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="in" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="dsServiceOperationResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="out" type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="dsServiceOperationRequest">
		<wsdl:part name="parameters" element="tns:dsServiceOperationRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="dsServiceOperationResponse">
		<wsdl:part name="parameters" element="tns:dsServiceOperationResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="dsServicePortType">
		<wsdl:operation name="dsServiceOperation">
			<wsdl:input message="tns:dsServiceOperationRequest"></wsdl:input>
			<wsdl:output message="tns:dsServiceOperationResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="dsServiceBinding" type="tns:dsServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="dsServiceOperation">
			<soap:operation soapAction="http://www.talend.org/service/dsServiceOperation" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="dsService">
		<wsdl:port name="dsServicePort" binding="tns:dsServiceBinding">
			<soap:address location="http://localhost:8090/services/dsService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>